*{
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
    background-color: #000000;
}

#container_Game_Palindroma,#container-Pari-Dispari{
    height: 220px;
    width: 300px;
    border-radius: 10px;
}

header{
    color: yellow;
    font-size: 20px;
}
