*{
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
}

#container-Game-Palindroma,#container-Pari-Dispari{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
